node_modules
npm-debug.log
build
dist
.node-version
package-lock.json
yarn-error.log

# Mac specific files
.DS_Store
._.DS_Store
.AppleDouble/
.idea

# Coverage
coverage
test-results
.sonar

# wdio
features/errorShots
features/jsonTestResults
features/testResults
phantomjsdriver.log
